# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: r

compiler: clang

r_binary_packages:

warnings_are_errors: true

sudo: required

cran: http://cran.rstudio.com/

r_github_packages:
  - brodieG/cstringr

# notifications:
#   email:
#     on_success: brodie.gaslam@yahoo.com
#     on_failure: brodie.gaslam@yahoo.com
