S3method(alike,call)
S3method(alike,default)
S3method(alike,expression)
S3method(alike,formula)
S3method(alike,recursive_index_list)
S3method(alike,recursive_terminal_index_list)
S3method(all.equal,recursive_index_list)
S3method(attributes_alike,default)
S3method(class_alike,default)
S3method(struct_alike,"function")
S3method(struct_alike,call)
S3method(struct_alike,default)
S3method(type_alike,default)
export(alike)
export(all_equal)
export(attributes_alike)
export(class_alike)
export(struct_alike)
export(type_alike)
export(type_of)
import(vectools)
